// Specific CSS for your home-page

.wrapper {
  padding: 1rem;
}

#main-header {
  h1 {
    font: {
      weight: 800;
      size: 2rem;
    }
  }
  h2 {
    span { color: $dreamy-yellow; }
    line-height: 1.4;
    font: {
      weight: 600;
      size: 1.25rem;
    }
  }
}

h3 {
  font-weight: 600;
  span { color: $dreamy-yellow; }
  text-align: center;
}

.banner img {
  margin: 2rem 0;
  max-width: 100%;
  display: block;
}

.search-bar-wrapper {
  background: linear-gradient(90deg, $calming-purple, $peace-blue);
  padding: 0.4rem;
  border-radius: 40px;
}

.search-bar {
  border-radius: 20px;
  height: 40px;
  background-color: #333333;
  border: 0px solid transparent;
}

.widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8326bc;
  transition: all 0.3s ease-in-out;
}

.widget.expand {
  width: 200px;
  height: 200px;
  background-color: #000000;
}

.widget-content {
  display: none;
}
