// Specific CSS for your home-page

// Change fonts later

.wrapper {
  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

#main-header {
  text-align: center;
  font-family: 'Audiowide';

  span {
    color: $dreamy-yellow;
  }

  .header-login h1 {
    color: $dreamy-yellow;
    padding: 0;
    margin: 0;

    font: {
      weight: 800;
      size: 1.5rem;
    }
  }

  h2 {
    margin-top: 3rem;
    line-height: 1.4;

    // Change later
    font: {
      family: 'Audiowide';
      weight: 600;
      size: 1.25rem;
    }
  }
}

.header-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-sign-out-buttons {
  font-size: 0.7em;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  text-decoration: underline;
}

.sign-up-button {
  padding: 0.4rem;
  // background: $dreamy-yellow;
  border: 2px solid $dreamy-yellow;
  border-radius: 10px;
}

.logout-button {
  border: 0px solid transparent;
  background: transparent;
  color: white;
  text-decoration: underline;
}

h3 {
  font-weight: 600;

  span {
    color: $dreamy-yellow;
  }

  text-align: center;
}

.banner img {
  margin: 2rem 0;
  max-width: 100%;
  display: block;
}

.search-container {
  margin-top: 3rem;

  // Change later
  h3 {
    font-family: 'Audiowide';
  }
}

.search-bar-wrapper {
  background: linear-gradient(90deg, $calming-purple, $peace-blue);
  padding: 0.4rem;
  border-radius: 40px;
}

.search-bar {
  border-radius: 20px;
  height: 40px;
  background-color: #333333;
  border: 0px solid transparent;
}

.widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8326bc;
  transition: all 0.3s ease-in-out;
}

.widget.expand {
  width: 200px;
  height: 200px;
  background-color: #000000;
}

.widget-content {
  display: none;
}
