.card {
  background-color: #871CDE;
  /* Dark space purple background color */
}

.card-body {
  color: white;
  /* Text color */
}

.card-body h1 {
  color: #FDE700;
  /* Guilherme Hortinha text color */
}

.card-body label {
  color: #FDE700;
  /* "Email:" and "Bio:" text color */
}

img {
  width: 100%;
}
