.container {
  justify-content: center;
  background: $background;
  height: 95vh;
}

.show-points {
    margin: 10px;
    text-align: end;
    font-family: $audio-font;
    color: $dreamy-yellow;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-header a {
  position: relative;
  top: 18px;
  font-size: 29px;
}

.show-title > h1 {
  font-family: $audio-font;
  text-align: start;
  padding-top: 20px;
  padding-bottom: 15px;
  color: $dreamy-yellow;
}

.h2 {
  color: azure;
}

.body {
  background-color: $background;
}

.footer {
  background:linear-gradient(271.37deg, #871CDE 34.61%, #5873FE 87.96%);
  border-bottom-right-radius: 100%;
}

.chask-card {
  background: $calming-purple;
}

.chask-card h6 {
  font-family: $audio-font;
  text-align: start;
  color: $peace-blue;
  text-shadow: black 1px 1px;
}

header > h1 {
  font-family: $audio-font;
  text-align: start;
  color: $dreamy-yellow;
  font-size: 20px;
  padding-top: 15px;
}

.show-button-div {
  position: absolute;
  bottom: 90px;
  left: 104px;
  border: solid 4px $calming-purple;
  background: $dreamy-yellow;
  padding: 5px;
  border-radius: 8px;
}

.show-button a {
  color: white;
  font-weight: bold;
}
