.container {
  justify-content: center;
}

.navbar {
  background:linear-gradient(271.37deg, #871CDE 34.61%, #5873FE 87.96%);
  border-bottom-left-radius: 100%;
  justify-content: center;
  color: azure;
}

.h2 {
  color: azure;
}

.body {
  background-color: black;
}

.footer {
  background:linear-gradient(271.37deg, #871CDE 34.61%, #5873FE 87.96%);
  border-bottom-right-radius: 100%;
}
