.wrapper {
  position: relative;
  justify-content: center;
  background: $background;
}

.show-points {
  margin: 10px;
  text-align: end;
  font-family: $audio-font;
  color: $dreamy-yellow;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-header a {
  top: 18px;
  font-size: 29px;
  position: relative;
}

.show-title>h1 {
  font-family: $audio-font;
  text-align: start;
  padding-top: 20px;
  padding-bottom: 15px;
  color: $dreamy-yellow;
}

.buttons {
  margin-left: 15px;
}

.h2 {
  color: azure;
}

.body {
  background-color: $background;
}

.footer {
  background: linear-gradient(271.37deg, #871CDE 34.61%, #5873FE 87.96%);
  border-bottom-right-radius: 100%;
}

.chask-card {
  background: $calming-purple;
  margin-bottom: 20px;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 0.3em;
}

.chask-card h6 {
  font-family: $audio-font;
  text-align: start;
  color: $peace-blue;
  text-shadow: black 1px 1px;
}

header>h1 {
  font-family: $audio-font;
  text-align: start;
  color: $dreamy-yellow;
  font-size: 20px;
  padding-top: 15px;
}

.show-button-div {
  position: fixed;
  bottom: 90px;
  left: 60px;
  right: 60px;
  border: solid 4px $dreamy-yellow;
  text-align: center;
  background: $dreamy-yellow;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-family: $audio-font;
}

.show-button a {
  color: white;
  font-weight: bold;
  font-size: 17px;
}

// Hidden Chask Card
.gray-chask-card {
  background: $calming-purple;
  margin-bottom: 20px;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 0.3em;
}

.gray-chask-card h6 {
  font-family: $audio-font;
  text-align: start;
  color: $peace-blue;
  text-shadow: black 1px 1px;
}

.gray-chask-card .recover-button {
  border-radius: 8px;
  color: white;
  font-family: audiowide;
  align-content: center;
  text-align: center;
  border: solid 4px #E8B508;
  border-radius: 8px;
  padding: 5px;
  background: none;
}

// Excluded Subchask Card
.excluded-chask-card {
  background: grey;
  margin-bottom: 20px;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 0.3em;
}

.excluded-chask-card .excluded-subshow-b-header {
  display: flex;
  flex-direction: column;
}

.excluded-chask-card .recover-button {
  // background: $dreamy-yellow;
  border-radius: 8px;
  color: white;
  font-family: audiowide;
  text-align: center;
  border: solid 4px $dreamy-yellow;
  border-radius: 8px;
  padding: 5px;
  background: none;
}

// Bar menu
.task-show-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-show-menu .big-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 5px;
  grid-row-gap: 25px;
  flex-wrap: wrap;
}

.task-show-menu>.buttons {
  font-size: 32px;
  color: $dreamy-yellow;
  position: relative;
  bottom: 8px;
}

.task-show-menu-button {
  color: white;
  font-family: audiowide;
  font-size: 20px;
  align-content: center;
  text-align: center;
  border: solid 2px $dreamy-yellow;
  border-radius: 8px;
  padding: 5px;
  /* min-width: 60px; */
  background: $dreamy-yellow;
  margin-right: 20px;
  width: 20%;
}

// Style for cards displayed in show page
.subshow-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subshow-header a {
  position: relative;
  top: -15px;
  font-size: 25px;
}

.subshow-title>p {
  font-family: $audio-font;
  text-align: start;
  padding-bottom: 15px;
  color: $white;
}

.subshow-buttons {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subshow-buttons>i {
  position: relative;
  top: 6px;
}

.subshow-buttons .edit-button {
  font-size: 17px;
  color: white;
  border: none;
}

.subshow-buttons .delete-button {
  font-size: 17px;
  color: white;
}

.subshow-buttons .delete-button i {
  position: relative;
  top: -1px;
  right: 5px;
}

// Sub-header (deadline and status)
.subshow-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chask-deadline {
  width: 60%;
}

.chask-status {
  // padding-left: 30px;
}

.chask-status>p {
  font-family: $audio-font;
  color: $white;
}

// Sub-header b (only status for subchasks)
.subshow-b-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Title div is the same as in show-header

// Deadline form styling
.chask_deadline {
  border: $dreamy-yellow;
  border-radius: 8px;
  background-color: $peace-blue;
  padding: 5px;
  color: white;
}

.subchask_deadline {
  border: $dreamy-yellow;
  border-radius: 8px;
  background-color: $calming-purple;
  padding: 5px;
  color: white;
}
