.navbar {
  background:linear-gradient(271.37deg, #871CDE 34.61%, #5873FE 87.96%);
  border-bottom-left-radius: 100%;
  justify-content: center;
  color: azure;
}

.index-title > h1 {
  font-family: $audio-font;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  color: $dreamy-yellow;
}

.h2 {
  color: azure;
}

.body {
  background-color: $background;
}

.footer {
  background:linear-gradient(271.37deg, #871CDE 34.61%, #5873FE 87.96%);
  border-bottom-right-radius: 100%;
}

.task-card h6 {
  font-family: $audio-font;
  text-align: center;
  color: $dreamy-yellow;
  text-shadow: black 1px 1px;
  margin: 0;
}
