<div class="show-progress">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: <%=task.complete_percentage %>%;" aria-valuenow="<%=task.complete_percentage %>" aria-valuemin="0" aria-valuemax="100"><%=task.complete_percentage %>%</div>
  </div>
</div>
