<div class="task-card" data-controller="expand-card" data-action="click->expand-card#displayChasks">
  <header>
    <h6><%= task.title %></h6>
  </header>
  <div class="buttons">
    <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#modal<%= task.id %>" data-bs-whatever="a">Open modal for a</button>
    <p>20%</p>
    <i class="fa-solid fa-angle-right expand-icon" data-expand-card-target="icon"></i>
  </div>
  <%= render 'task_modal', task: task %>
</div>
