<div class="cards-container">
  <div class="index-title">
    <h1>Open Task Flows</h1>
  </div>
  <div class="card-layout" style="--cards: <%= current_user.tasks.count %>;">
    <% @tasks.each_with_index do |task, index| %>
      <%# <%= render 'tasks/progress_bar', task: task %>
        <% if index.odd? %>
          <div class="row align-left">
            <%= render 'tasks/task_card', task: task, index: index %>
          </div>
        <% else %>
          <div class="row">
            <%= render 'tasks/task_card', task: task, index: index %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
