<div class="cards-container">
  <div class="index-title">
    <h1>Open Task Flows</h1>
  </div>
  <div class="card-layout" style="--cards: <%= current_user.tasks.count %>;">
    <% @tasks.each_with_index do |task, index| %>
      <%# <%= render 'tasks/progress_bar', task: task %>
      <div class="row">
        <% if index.odd? %>
          <div class="empty-cell"></div>
          <%= render 'tasks/task_card', task: task, index: index %>
        <% else %>
          <%= render 'tasks/task_card', task: task, index: index %>
          <div class="empty-cell"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
