<div class="container">
  <h1>Task Dashboard</h1>
  <div class="card-layout">
    <% @tasks.each do |task| %>
      <%= render 'tasks/progress_bar', task: task %>
            <%= render 'tasks/task_card', task: task %>
    <% end %>
  </div>
</div>
