<div class="container">
  <div class="chaskcard">
    <div class="chaskcard-title">
      <h5>Edit Task Information</h5>
      <h2><%= @chask.title %></h2>
    </div>
    <div class="edit-form">
      <%= simple_form_for @chask do |f| %>
        <%= f.input :title, class: "edit-input", label: false %>
        <%= f.submit class: "edit-button", value: "Save Changes" %>
      <% end %>
    </div>
  </div>
</div>
