<div class="container" data-controller="show">
  <% if @chask.progress? %>
    <%= render 'layouts/startcard' %>
  <% else %>
    <% if !@chask.chask %>
      <%= render 'layouts/show-chask-card', user: @user, chask: @chask %>
    <% else %>
      <%= render 'layouts/show-subchask-card', user: @user, chask: @chask %>
    <% end %>
</div>
