<div class="container">
  <div class="notifications shadow-lg border border-primary rounded">
    <h1>Notifications</h1>

    <ul class="list-group">
      <% @notifications.each do |notification| %>
        <li class="list-group-item notification">
          <div class="notification-content">
            <div class="notification-message">
              <strong>Message:</strong> <%= notification.message %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <% @notifications.update_all(read: true) %>
  </div>
</div>
