<!DOCTYPE html>
<html>
<head>
  <style>
    @media (max-width: 767px) {
      .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
      }

      .spinner {
        width: 200px; /* Adjust the size as needed */
        height: 200px; /* Adjust the size as needed */
      }
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <header id="main-header">
      <h1>Task Chomp</h1>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ut.</h2>
    </header>

    <div class="banner">
      <%= image_tag "stars.svg" %>
    </div>

    <div class="spinner-container" data-controller="spinner">
      <%= simple_form_for @task, html: { data: { action: 'submit->spinner#insert' } } do |f| %>
        <div class="search-bar-wrapper">
          <div class="search-group">
            <%= f.input :title, placeholder: "Enter task here", label: false, input_html: { class: 'search-bar' } %>
            <%= f.button :submit, 'Search' %>
          </div>
        </div>
      <% end %>
      <div class="spinner" data-spinner-target="spinner"></div>
    </div>

    <h3 class="text-center">Start a <span>journey!</span></h3>
  </div>
</body>
</html>
