<div class="wrapper">
  <div class="header-container">
    <header id="main-header">
      <h1>Task Chomp</h1>
      <h2>Seize the day, one task at a time!</h2>
    </header>

    <div class="banner">
      <%= image_tag "stars.svg" %>
    </div>
  </div>

  <div class="search-container">
    <h3>Start a <span>journey!</span></h3>
    <%= simple_form_for @task do |f| %>
      <div class="search-bar-wrapper">
        <div class="search-group">
          <%= f.input :title, placeholder: "Enter task here", label: false, input_html: { class: 'search-bar' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
