<div class="wrapper">
  <header id="main-header">
    <h1>Task Chomp</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ut.</h2>
  </header>

  <div class="banner">
    <%= image_tag "stars.svg" %>
  </div>

  <h3>Start a <span>journey!</span></h3>
  <%= simple_form_for @task do |f| %>
    <div class="search-bar-wrapper">
      <div class="search-group">
        <%= f.input :title, placeholder: "Enter task here", label: false, input_html: { class: 'search-bar' } %>
      </div>
    </div>
  <% end %>
</div>
