<div class="myHeading">
    <a href="link address"><img src="" alt="logo.png"></a>
    <header>Task Chomp</header>
    <a href="link address"><img src="" alt="burger.png"></a>
  </div>

  <p class="motivation">Great job getting started! Task in <strong>progress...</strong><p>

  <footer>To the dashboard?</footer>
