.card-layout {
  padding: 1em;
  margin: 0 auto;
  width: 90%;
}

.task-card-container {
  padding: 0;
  width: min-content;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 180px;
  display: flex;
}

.empty-cell {
  width: 50%;
  height: 100%;
}

$cards: 20;

// I'll probably use JS instead, cannot find a way to turn string into integer in Sass

@mixin background($completion) {
  background: conic-gradient($peace-blue $completion, rgb(129, 129, 129) 0%);
}

%progress {
  $completion: var(--progress-percent);
  position: absolute;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  z-index: -1;
  @include background($completion);
  box-shadow: 1px 1px 10px rgba(0,0,0,.2)
}

@mixin progressbarx {
  @for $i from 0 through $cards {
    .progressbar#{$i} { @extend %progress; }
  }
}

@include progressbarx;

// .progressbar {
//   position: absolute;
//   background: conic-gradient(red $completion, white 0deg);
//   border-radius: 50%;
//   width: 200px;
//   height: 200px;
// }

.task-card {
  background: $calming-purple;
  position: relative;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
  border-radius: 50%;
  p { font-size: 0.8em; }
}

.task-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.task-card-info {
  p {
    margin: 0;
    font-weight: 600;
  }
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.settings-button {
  background: black;
  height: 100%;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 100%;
}

.completion-percentage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 1em;
  background: $peace-blue;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4)
}

.chask-card {
  margin: 0.5em 0;
  padding: 0.5em;
  background: #606060;
  border-radius: 0.3em;
}

.card-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.align-left {
  display: flex;
  justify-content: flex-end;
}
