a {
  text-decoration: none;
  color: inherit;
}

.navbar-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;

  i {
    color: $dreamy-yellow;
  }

  span {
    color: white;
  }

  ul {
    // border-radius: 2em;
    // margin: 0;
    // padding: 0.75em;
    // width: 80%;
    // list-style: none;
    // display: flex;
    // justify-content: space-between;
    background: $background;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    border-top: solid 3px $peace-blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
  }

  nav {
    // margin-top: 1em;
    // padding: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    li a {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .3s ease-out;
    }
  }
}

li {
  i, span { z-index: 1; }
  i { font-size: 1.5em; }
  a {
    &:hover {
      color: #9656c9;
    }
  }
}

nav li.active a::before {
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background: $calming-purple;
  z-index: 0;
}

nav li.active {
  position: relative;
}
